@import url("https://use.typekit.net/fkd3nlx.css");

body
{
    padding-top: 5.6px;
	margin: 0;
	background-color: #F6F6F6;
    font-family: "loos-extended", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1.8px;
}

.box
{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    font-size: 220%;
    margin-bottom: 2%;
}

.name
{
    margin: 0%;
    margin-left: 2%;
    margin-top: 0.4%;
}

.noDec
{
    text-decoration: none;
    font-size: 130%;
    line-height: 132%;
}

.menu
{
    margin: 0%;
    margin-right: 2%;
    margin-top: 0.4%;
}

footer
{
    line-height: 82%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    letter-spacing: -0.4px;
    margin-top: -1.4%;
    font-size: 130%;
}

.haut
{
    text-decoration: none;
    color: black;
}

img
{
    border: solid black 1.9px;
    width: 34.00%;
    margin-bottom: 3.50%;
    padding-bottom: 0%;
}

.horizontale
{
    width: 63.00%;
}

.horizontaleBig
{
    width: 73.00%;
}

.oiseaux
{
    border: solid black 0.8px;
    margin-left: 2.2%;
    width: 36.00%;
}

.carré
{
    width: 28.00%;
}

.images
{
    text-align: center;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.back
{
    margin-top: -24%;
    font-size: 50%;
}

a
{
    color: black;
}

.bio
{
    text-align: center;
    padding: 3.4%;
    margin: 0%;
    line-height: 118%;
    letter-spacing: -0.02px;
    padding-top: 0%;
}

.info
{
    text-align: center;
    margin: 0%;
    line-height: 114%;
    padding-top: 0%;
    padding-bottom: 3.20%;
    letter-spacing: -0.4px;
}

.info1
{
    text-align: center;
    margin: 0%;
    font-size: 120%;
    line-height: 148%;
    padding-top: 0%;
    padding-bottom: 2.4%;
    letter-spacing: -0.4px;
}

.leoTable
{
    text-align: center;
    margin: 0%;
    font-size: 65%;
    padding-top: 0%;
    padding-bottom: 0.20%;
    letter-spacing: -0.35px;
}

.titre
{
    text-align: center;
    margin: 0%;
    font-size: 220%;
    padding-top: 0.40%;
    padding-bottom: 2.90%;
    letter-spacing: -0.4px;
    line-height: 64%;
}

.doubleAutoportrait
{
    margin-top: 3.40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.double
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.horizontaleDuo
{
    width: 53.00%;
}

.horizontaleSmall
{
    width: 43.00%;
}

.carré
{
    width: 48.00%;
}

.carréDuo
{
    width: 28.00%;
}

.carréTrio
{
    width: 26.00%;
}

@media (max-width: 800px) 
{

.leoTable
{
    font-size: 38.25%;
    letter-spacing: -0.25;
}

.menu
{
    margin-right: 2.8%;
}

.name
{
    margin-left: 2.8%;
}

.autoportrait
{
    width: 50.00%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.titre
{
    font-size: 180%;
}

img
{
    border: solid black 1.1px;
    width: 60.50%;
    margin-bottom: 4.8%;
    padding-bottom: 0%;
}

.horizontale
{
    width: 68.00%;
}

.horizontaleBig
{
    width: 78.00%;
}

.info
{
    margin-left: 10%;
    margin-right: 10%;
}

.bio
{
    margin-top: 0%;
    padding-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 85%;
}

.box
{
    font-size: 180%;
}

.info
{
    font-size: 90%;
}

.info1
{
    font-size: 95%;
}

footer
{
    font-size: 110%;
}

}

@media (max-width: 650px) 
{

.box
{
    font-size: 160%;
}

.info
{
    font-size: 80%;
}

.info1
{
    font-size: 85%;
}

.bio
{
    font-size: 65%;
}

}